*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}





/* body{
    background: linear-gradient(120deg, #e2c35d, #d88771);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
} */

body{
    width: 100%;
    min-height: 100vh;
    color: #ffffff;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("./assets/background.jpg");
    background-size: cover;
    background-position: center;
}

a{
    text-decoration: none;
}


/* home - page styling */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0;
}

h2{
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 25px;
}

nav ul li a{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 2px;
}

nav ul li a:hover{
    border-bottom: 2px solid #ffffff;
}

.content{
    max-width: 600px;
    margin-top: 15%;
    color: #fff;
}

h1{
    font-size: 56px;
    line-height: 70px;
    letter-spacing: 1px;
    margin: 15px 0;
}

p{
    font-size: 12px;
    line-height: 22px;
}

span{
    color: #ff6b3f;
}

.buttons{
    margin-top: 20px;
}

.btn1,
.btn2{
    display: inline-block;
    text-align: center;
    width: 150px;
    border: 1px solid #ff6b3f;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #ff6b3f;
    cursor: pointer;
}

.btn2{
    border: 1px solid #ff6b3f;
    background-color: transparent;
}


.btn1:hover{
    background-color: #ff6f47;
    opacity: 0.8;
}

.btn2:hover{
    background-color: #ff6b3f;
}

.sidebar{
    width: 80px;
    min-height: 100vh;
    color: #fff;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}

h3{
    width: 20px;
    margin: 30px;
    cursor: pointer;
}

.social-links{
    width: 80px;
    position: absolute;
    bottom: 25px;
}

.social-links h4{
    height: 15px;
    display: block;
    text-align: center;
    margin: 25px auto;
    cursor: pointer;
}





/* ToDo-List Styling */

header{
    font-size: 1.5rem;
}

header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #d88771;
    color: white;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after{
    content: '\25bc';
    background: #ff6f47;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: white;
    color: #ff6f47;
}




.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

/* creating in script.js */

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}

.delete-btn,
.checked-btn{
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.checked-btn{
    background: rgb(73, 204, 73);
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check{
    pointer-events: none;
}

.checked{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

